body {
  text-align: center;
  margin: 0;
  padding: 0;
}

h2:hover {
  background-color: #4169E1;
}

tr:hover {
  background-color: #4169E1;
}

table, th, td {
  border: 1px solid;
  text-align: center;
  margin: 0 auto;
}

img {
  border: 5px double #008080;
}

#maintitle {
  background-image: linear-gradient(to bottom right, #1434A4, #4169E1, #40B5AD, #008080);
  height: 100vh;
  overflow: auto;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
